@model CampusSnapshots.ViewModels.PostDetailViewModel


<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted">
            Details
            <span>
                <a id="delete-post" class="btn btn-md btn-danger pull-right" role="button" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.PostId">Delete Post</a>
                <a id="edit-post" class="btn btn-md btn-info pull-right" role="button" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.PostId">Edit Post</a>
            </span>
        </h2>
    </div>
</div>

<!--Details-->
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img class="img-thumbnail detailImage" src="@Model.ImageUrl" />
            </div>
        </div>
        <div class="col-md-4">
            <p id="postTitle">@Model.Title</p>
            <p id="postDesc">@Model.Description</p>
        </div>
        <div class="col-md-4 detailInfo">
            <table>
                @if (Model.EventOrIssue == SnapshotsData.Models.PostType.Issue)
                {
                    <tr>
                        <td class="postLabel">Status: </td>
                        <td class="postValue">@Model.Status.Name</td>
                    </tr>
                }
                <tr>
                    <td class="postLabel">Type: </td>
                    <td class="postValue">@Model.EventOrIssue</td>
                </tr>
                <tr>
                    <td class="postLabel">Created: </td>
                    <td class="postValue">@Model.DateCreated.ToShortDateString()</td>
                </tr>
                <tr>
                    <td class="postLabel">Campus: </td>
                    <td class="postValue">@Model.Campus.Name</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!--Comments-->
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading" id="heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">
                    Comments

                    @if (Model.Comments == null)
                    {
                        <span class="badge pull-right">0</span>
                    }
                    else
                    {
                        <span class="badge pull-right">@Model.Comments.Count()</span>
                    }
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            @if (Model.Comments != null && Model.Comments.Count() != 0)
            {
                @foreach (var comment in Model.Comments)
                {
                    <div class="panel-body">
                        @comment.Content
                        <i>
                            <a id="delete-comment" class="far fa-trash-alt pull-right" role="button" asp-controller="Post" asp-action="DeleteComment" asp-route-id="@comment.Id"></a>
                        </i>
                    </div>
                }
            }
            else
            {
                <div class="panel-body">
                    No Comments
                </div>
            }
        </div>
    </div>
</div>

<!--Add comment-->
<div class="form-group" id="add-comment">
    <form asp-controller="Post" asp-action="AddComment">
        <label asp-for="Comment" class="control-label"></label>
        <textarea asp-for="Comment.Content" class="form-control" placeholder="Add comment..."></textarea>
        <button type="submit" class="btn btn-primary">Add comment</button>
        @Html.HiddenFor(p => p.PostId)
    </form>
</div>


<!--Styling for the page-->
<!--styles.css for some reason does not work when trying to style this page. So I am applying styling in here.-->
<style>
    .detailImage {
        width: 250px;
        padding-bottom: 6px;
    }

    #postTitle {
        font-size: 2.0em;
    }

    #postDesc {
        font-size: 1.4em;
    }

    .postLabel {
        font-weight: bold;
    }

    .postValue {
        text-align: right;
        padding-left: 3em;
        font-size: 0.9em;
        margin-left: 30px;
    }

    .detailInfo {
        padding: 10px;
        font-size: 1.3em;
        color: #555;
        padding-left: 5em;
    }

    #edit-post {
        margin-right: 0.4em;
    }

    #delete-comment {
        color: red;
    }

    .panel-title {
        font-weight: bold;
    }

    .btn-primary {
        margin-top: 0.3em;
    }


    #collapse1 {
        color: #336699;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>



<script src="~/js//bootbox.min.js"></script>

@section scripts
{

    <script>

    //delete post
    $("#delete-post").click(function (e) {

        e.preventDefault();

        var url = $(this).attr('href');

        bootbox.confirm({
            title: "Are you sure?",
            message: "Post will be permanently deleted.",
            buttons: {
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm',
                    className: 'btn-primary'
                },
                cancel: {
                    label: '<i class="fa fa-times"></i> Cancel'
                }
            },
            callback: function (result) {
                if (result) {
                    window.location.href = url;
                }
            }
        });

    });

    //delete comment
    $(".delete-comment").click(function (e) {

        e.preventDefault();

        var url = $(this).attr('href');

        bootbox.confirm({
            title: "Are you sure?",
            message: "comment will be permanently deleted.",
            buttons: {
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm',
                    className: 'btn-primary'
                },
                cancel: {
                    label: '<i class="fa fa-times"></i> Cancel'
                }
            },
            callback: function (result) {
                if (result) {
                    window.location.href = url;
                }
            }
        });

    });
    </script>

}