@model CampusSnapshots.ViewModels.MemberIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted pull-left">
            Registered Users
        </h2>
    </div>
</div>

<!--Members Table-->
<div id="members">
    <div id="membersTable">
        <table class="table table-condensed" id="memberIndexTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Email Confirmed</th>
                    <th>Phone Number</th>
                    <th>Phone Number Confirmed</th>
                    <th>Date Joined</th>
                    <th>Two-Factor Enabled</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr class="memberRow">
                        <td class="">
                            <p><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></p>
                        </td>
                        <td class="">@($"{user.FirstName} {user.LastName}")</td>
                        <td class="">@user.Email</td>
                        <td class="">@user.EmailConfirmed</td>
                        <td class="">@user.PhoneNumber</td>
                        <td class="">@user.PhoneNumberConfirmed</td>
                        <td class="">@user.DateJoined</td>
                        <td class="">@user.TwoFactorEnabled</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

